<% content_for :title do %>
    Q & A | Makasha
<% end %>

<div class="container">
    <div class="col s12 center">
        <h2 class="main-color-text">Q & A</h2>
    </div>
    <ul>
    <li>
        <h5 class="question">Makashaは何をするためのサービスですか？</h5>
        音楽を聴いているとき、特に感動するタイミングがあると私は思っています。
        それはあなたの好きなアーティストだからかもしれないし、聴いている状況のせいかもしれない。
        私はいつ何を聴いて感動したのか、記録しておきたくなりました。
        だからMakashaは作られました。<br>
        Makashaでは、自分が聴いていて感動した音楽の記録ができます。
        ですから、記録したいタイミングと、記録を確認するタイミングでMakashaを訪れることになるでしょう。
        記録した楽曲、時刻だけでなく、期間別のグラフ形式でも確認することができます。
        <a href="/records">みんなのレコード</a>から、他の誰かが投稿した楽曲も見ることができます。
        Makashaに残した記録によって、なにか面白い発見があることを期待しています。
    </li>
    <li>
        <h5 class="question">Makashaはなんと発音しますか？</h5>
        <div class="quote">
        <b>アカシックレコード</b>（英: akashic records）は、元始からのすべての事象、想念、感情が記録されているという世界記憶の概念で、<b>アーカーシャ</b>あるいはアストラル光に過去のあらゆる出来事の痕跡が永久に刻まれているという考えに基づいている。(出典: フリー百科事典『ウィキペディア（Wikipedia）』)
        </div>
        アカシックレコードという概念があります。この考えのもとでは、アーカーシャ(空間、虚空などを意味する)に全ての情報が記録されているそうです。
        Makashaにも、ユーザーの好きな音楽の記録がずっと蓄積されていくといいなという思いをこめ、このアーカーシャから名前をもらって、先頭にMを付け足したものです。MはMusicとか、Masterpieceの頭文字です。
        つまり、読みは「マーカーシャ」でお願いします。
    </li>
    <li>
        <h5 class="question">自分のアイコンがMakashaのロゴになってしまった</h5>
        Twitterのアイコンがうまく取得できないと、デフォルトアイコンが表示されます。<a href="/setting">設定画面</a>に「アイコンの再取得」というボタンが表示されているので、こちらを押すことでTwitterのアイコンを反映できます。
        それでも戻らない場合はお問い合わせください。
    </li>
    <li>
        <h5 class="question">Twitterに共有するときの文章を変えたい</h5>
        Twitterへ共有する際のテンプレートを変更できる機能があります。<a href="/setting">設定画面</a>で「ツイートテンプレート」を変更してください。
        「%song%」という文字列は、そのとき追加した楽曲名が置換され、同様に「%artist%」という文字列は、そのとき追加したアーティスト名が置換されます。
    </li>
    <li>
        <h5 class="question">要望、バグの報告はどこで行えばよいですか？</h5>
        各種お問い合わせは<a href="https://twitter.com/takasa_five" target="_blank">私のTwitterアカウント</a>へのリプライやダイレクトメッセージで受け付けています。お気軽にどうぞ！
    </li>
</div>