/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.pagination li.active a {
  background-color: #726DA8 !important;
  color: #fff;
}

.material-icons {
    vertical-align: middle;
}

label {
    vertical-align: middle;
}

nav .sidenav-trigger {
    float: none !important;
    position: relative;
    z-index: 1;
    height: auto !important;
    margin: 0 18px;
}

/* label focus color */
input[type=text]:focus + label {
  color: #726DA8 !important;
}
/* label underline focus color */
input[type=text]:focus {
  border-bottom: 1px solid #726DA8 !important;
  box-shadow: 0 1px 0 0 #726DA8 !important;
}

/* label focus color */
.input-field textarea:focus + label {
  color: #726DA8 !important;
}
/* label underline focus color */
.input-field textarea:focus {
  border-bottom: 1px solid #726DA8 !important;
  box-shadow: 0 1px 0 0 #726DA8 !important;
}

.tabs .tab a.active {
  background-color: #BEE7E8 !important;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#726DA8 !important;
} /*Color of underline*/


/* color */
.base-low-color {
  background-color: #594157 !important
}

.base-low-color-text {
  color: #594157 !important
}

.main-color {
  background-color: #726DA8 !important
}

.main-color-text {
  color: #726DA8 !important
}

.med-color {
  background-color: #7D8CC4 !important
}

.med-color-text {
  color: #7D8CC4 !important
}

.accent-color {
  background-color: #A0D2DB !important
}

.accent-color-text {
  color: #A0D2DB !important
}

.base-high-color {
  background-color: #BEE7E8 !important
}

.base-high-color-text {
  color: #BEE7E8 !important
}